<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dmnguyen.cs499">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LockedIN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".UpdateService"
            android:enabled="true"/>
        <receiver android:name=".ScreenReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
            <intent-filter>
                <action android:name=".RestartService"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>